.list-item{
    list-style-type: none;
    padding: 0;
    margin-bottom: 50px;
}

.list-item li{
    background: #fff;
    box-shadow: 0 1px 3px rgb(0,0, 0.12);
    padding: 15px;
    color: #333;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.expense{
    border-right: 10px solid rgb(253, 75, 75);

}

.income{
    border-right: 10px solid rgb(103, 255, 103);

}